.ex_wrap {
    margin-top: 125px;
    padding: 70px 27px 0 20px;
    width: 100%;

    .ex {
        padding: 0 15vw;
        flex-direction: column;
        .text {
            flex-direction: column;
            font: {
                family: "neurimboGothicRegular";
                size: 5rem;
            }
            .text_main {
                line-height: 0.8;
            }
            .text_sub {
                font-size: 2rem;
                margin-top: 1vh;
                align-self: flex-end;
            }
        }
        .col {
            // background-color: pink;
            height: 500px;
            .ex_content_wrap {
                position: absolute;
                flex-direction: column;
                right: 7px;
                transform: translateY(30px);
                width: 60vw;
                hr {
                    border: 0;
                    height: 1px;
                    background-color: #1d1a3f;
                    width: 100%;
                }
                .title {
                    flex: 1;
                    margin: 1.5vw 0;
                }
                .ex_list_content {
                    cursor: pointer;
                    .rolling_wrap {
                        .rolling_text {
                            position: relative;
                            display: flex;
                            align-items: center;
                            margin: 80px auto;
                            width: 1000px;
                            height: 150px;
                            overflow: hidden;
                            background: #efefef;
                            ul {
                                position: absolute;
                                display: flex;
                                width: max-content;
                                animation: aniScroll 5s linear infinite;
                                &:last-child {
                                    animation: aniScroll2 5s linear infinite;
                                }
                                li {
                                    list-style: none;
                                    width: 180px;
                                    height: 100px;
                                    line-height: 100px;
                                    text-align: center;
                                    color: #000;
                                    border: 1px solid #ddd;
                                }
                            }
                        }
                    }
                }
                .content {
                    flex: 1;
                    margin: 1.5vw 0;
                }
            }
        }
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes aniScroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes aniScroll2 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* .modal_wrap {
    flex-direction: row;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 30px;
    width: 340px;
    height: 250px;
    overflow: hidden;
    transition: 0.3s;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.modal_wrap img:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.modal_wrap:hover {
    transition: 0.3s;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.11), 0 2px 7px rgba(0, 0, 0, 0.12);
    border: 1px solid rgb(205, 205, 205);
}
.img {
    width: 100%;
    object-fit: contain;
    -webkit-user-drag: none;
    transition: 0.3s;
}
.modal svg {
    position: absolute;
    right: 20px;
    color: rgba(0, 0, 0, 0.3);
    transition: 0.1s;
}
.modal svg:hover {
    color: rgba(0, 0, 0, 0.7);
    transition: 0.1s;
} */

@media screen and (min-width: 1024px) {
    /* 데탑 */
    /* .experience_wrap {
        flex-direction: column;
        margin: 30px auto 70px;
        padding-top: 70px;
        width: 700px;
    }
    .modal_img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        -webkit-user-drag: none;
    }
    .modal {
        display: flex;
    } */
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* 타블렛 */
    .experience_wrap {
        flex-direction: column;
        margin: 30px auto 70px;
        padding-top: 70px;
        width: 630px;
    }
    .modal_img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        -webkit-user-drag: none;
    }
    .modal {
        display: flex;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    /* 타블렛과 모바일 사이 */
    .experience_wrap {
        flex-direction: column;
        margin: 0 auto 70px;
        padding-top: 70px;
        width: 500px;
    }
    .modal_img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        -webkit-user-drag: none;
    }
}

@media screen and (max-width: 479px) {
    /* 모바일 */
    .experience_wrap {
        flex-direction: column;
        margin: 0 auto 70px;
        padding-top: 70px;
        width: 350px;
    }
    .modal_wrap {
        margin: 0 auto;
    }
    .modal_img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        -webkit-user-drag: none;
    }
}
