.ex_wrap {
    margin-top: 125px;
    padding: 70px 27px 0 20px;
    width: 100%;
    .ex {
        padding: 0 15vw;
        flex-direction: column;
        .text {
            font: {
                family: "neurimboGothicRegular";
                size: 5rem;
            }
            .text_main {
                line-height: 0.8;
            }
        }
        .col {
            height: 30vw;
            margin-top: 50px;
            .ex_content_wrap {
                position: absolute;
                flex-direction: column;
                right: 7px;
                // transform: translateY(50px);
                width: 60vw;
                .ex_list_header,
                .ex_list_content {
                    border-bottom: 1px solid #1d1a3f;
                }
                .header {
                    flex: 1;
                    // &:first-child {
                    //     flex: 0.7;
                    // } 얘는 되는데 아래 content에는 안먹힘 방법찾기
                    margin: 1.5vw 0;
                    text-transform: uppercase;
                    font: {
                        size: 1.5rem;
                        family: "neurimboGothicRegular";
                        weight: 600;
                    }
                }
                .ex_list_content {
                    cursor: pointer;
                    .gsap_before {
                        width: 100%;
                        .content {
                            padding-right: 2vw;
                            opacity: 1;
                            flex: 1;
                            margin: 1.5vw 0;
                            // &:first-child {
                            //     flex: 0.7;
                            // } 안먹힘
                            font: {
                                size: 1rem;
                            }
                        }
                        .rolling_wrap {
                            .rolling_text {
                                opacity: 0;
                                position: absolute;
                                display: flex;
                                align-items: center;
                                width: 60vw;
                                height: 4.16vw;
                                overflow: hidden;
                                ul {
                                    position: absolute;
                                    display: flex;
                                    width: max-content;
                                    animation: aniScroll 5s linear infinite;
                                    &:last-child {
                                        animation: aniScroll2 5s linear infinite;
                                    }
                                    li {
                                        list-style: none;
                                        width: 14vw;
                                        text-align: center;
                                        color: #f2f2ff;
                                        // padding: 1.26vw 0;
                                        font: {
                                            size: 1.5vw;
                                            family: "JalnanGothic";
                                        }
                                    }
                                }
                            }
                        }
                        img {
                            position: absolute;
                            opacity: 0;
                            &:first-child {
                                width: 18vw;
                                pointer-events: none;
                                animation: down 0.2s ease-out forwards;
                            }
                            &:nth-child(2) {
                                width: 100%;
                                height: 3vw;
                                padding: 8px 0;
                                // height: -webkit-fill-available;
                                filter: grayscale(100%) brightness(0.7);
                                object-fit: cover;
                                // z-index: -10;
                            }
                        }
                        &:hover {
                            .content {
                                opacity: 0;
                                transition: 0.2s;
                            }
                            .rolling_text {
                                opacity: 1;
                                transition: 0.2s;
                            }
                            img {
                                &:first-child {
                                    opacity: 1;
                                    animation: up 0.2s ease-out forwards;
                                }
                                &:nth-child(2) {
                                    animation: slide 0.5s ease-out forwards;
                                }
                            }
                        }
                    }
                    .gsap_bg {
                        cursor: default;
                        z-index: 10000;
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        height: 100vh;
                        background-color: rgba(0, 0, 0, 0.5);
                        opacity: 0;
                        pointer-events: none;
                        // transform: scaleX(0);
                        .modal {
                            background-color: #fff;
                            width: 30vw;
                            height: 85vh;
                            position: inherit;
                            top: 15vh;
                            left: 13vw;
                            // border-radius: 3% 3% 0 0;
                            padding: 3.5vw 3vw 0;
                            overflow-x: clip;
                            filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.3));
                            &:nth-child(2) {
                                left: 51vw;
                            }
                            &::before {
                                position: absolute;
                                top: -1.5vw;
                                left: 0;
                                display: block;
                                content: "";
                                background: radial-gradient(
                                    circle,
                                    transparent 1vw,
                                    white 1.05vw
                                );
                                background: {
                                    size: 4vw 3vw;
                                    position: -2vw -1.5vw;
                                }
                                width: 100%;
                                height: 3vw;
                                z-index: -3;
                            }
                            &::after {
                                position: absolute;
                                top: 0;
                                left: 0;
                                display: block;
                                content: "";
                                background: linear-gradient(
                                    180deg,
                                    rgb(255, 255, 255) 0%,
                                    transparent 100%
                                );
                                width: 100%;
                                height: 4vw;
                                z-index: -3;
                            }
                            img {
                                width: 100%;
                                height: fit-content;
                            }
                            .modal_content {
                                flex-direction: column;
                                white-space: pre-wrap;
                                border: 1px solid #1500ff4e;
                                text-align: justify;
                                .cnt {
                                    justify-content: space-between;
                                    border-bottom: 2px dotted #1500ff4e;
                                    padding: 1.5vw;
                                    span {
                                        margin-right: 10px;
                                        text-align: left;
                                        font: {
                                            weight: 600;
                                        }
                                    }
                                    div {
                                        width: 70%;
                                        flex-direction: column;
                                        span {
                                            all: unset;
                                        }
                                        .mg_top {
                                            margin-top: 1rem;
                                        }
                                    }
                                }
                                .title {
                                }
                                .content {
                                    line-height: 1.4;
                                }
                                .check {
                                    span {
                                        align-self: center;
                                    }
                                    div {
                                        all: unset;
                                        width: 70%;
                                    }
                                }
                                .ex_url_wrap {
                                    // padding: 1.5vw;
                                    .ex_url {
                                        div {
                                            padding: 3px 7px;
                                            // background-color: #f2f2ff;
                                            // border: 1px solid #1500ff4e;
                                            border-radius: 5px;
                                            align-items: center;
                                            margin-right: 5px;
                                            cursor: pointer;
                                            transition: 0.3s;
                                            &:hover {
                                                background-color: #1500ff1c;
                                                letter-spacing: 3px;
                                                transition: 0.3s;
                                            }
                                        }
                                        svg {
                                            margin-left: 5px;
                                            position: unset;
                                            z-index: 0;
                                            height: 1rem;
                                            opacity: unset;
                                            color: #1a1d3f;
                                        }
                                    }
                                }
                            }
                            .noise {
                                position: fixed;
                                left: 0;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                z-index: -2;
                                background-image: url("https://i.ibb.co/x3TCktM/645cbb8ec449398255b76326-noise.gif");
                                background-position: 0 0;
                                background-size: auto;
                                pointer-events: none;
                                opacity: 0.05;
                                transition: opacity 0.2s
                                    cubic-bezier(0.445, 0.05, 0.55, 0.95);
                                visibility: visible;
                                mix-blend-mode: overlay;
                            }
                            svg {
                                position: absolute;
                                z-index: -3;
                                // top: -1.5vw;
                                top: 0;
                                left: -1.5vw;
                                height: 100%;
                                opacity: 0.7;
                            }
                            .top {
                                position: absolute;
                                top: 1vw;
                                width: 30vw;
                                justify-content: space-between;
                                align-items: baseline;
                                & div {
                                    &:first-child {
                                        font-family: "JalnanGothic";
                                    }
                                    &:last-child:not(.close) {
                                        font-family: "Pretendard-ExtraLight";
                                    }
                                }
                                .close {
                                    cursor: pointer;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    /* 데탑 */
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* 타블렛 */
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    /* 타블렛과 모바일 사이 */
}

@media screen and (max-width: 479px) {
    /* 모바일 */
    .ex_wrap {
        margin: 50px 0 0;
        padding: 100px 7vw 0;
        .ex {
            padding: unset;
            width: 100%;
            .text {
                font-size: 3rem;
                justify-content: right;
                margin-bottom: 21vw;
            }
            .ex_content_wrap {
                flex-direction: column;
                .ex_list_content {
                    .gsap_before {
                        flex-direction: column;
                        margin-bottom: 100px;
                        font: {
                            family: "StretchPro";
                        }
                        img {
                            width: 90%;
                            margin: 0 auto;
                            // filter: grayscale(100%);
                            // z-index: -1;
                        }
                        svg {
                            position: absolute;
                            transform: translate(-7vw, 170px) scale(1.5)
                                rotate(-15deg);
                            z-index: -1;
                        }
                        span {
                            position: absolute;
                            left: -5%;
                            transform: translateY(-3.5rem);
                            font: {
                                size: 5rem;
                                weight: 600;
                            }
                        }
                        .content {
                            width: 100%;
                            transform: translateY(-1.5rem);
                            justify-content: right;
                            text-align: right;
                            z-index: 1;
                            line-height: 0.8;
                            font: {
                                size: 2rem;
                                family: "neurimboGothicRegular";
                            }
                        }
                        .gradient_bg_top {
                            width: 100%;
                            height: 50px;
                            background: linear-gradient(
                                to bottom,
                                #f2f2ff,
                                rgba(0, 0, 0, 0)
                            );
                            position: absolute;
                        }
                        .gradient_bg_bottom {
                            width: 100%;
                            height: 50px;
                            position: absolute;
                            transform: translateY(410px);
                            background: linear-gradient(
                                to top,
                                #f2f2ff,
                                rgba(0, 0, 0, 0)
                            );
                        }
                    }
                    &:nth-child(even) {
                        svg {
                            transform: translate(-7vw, 170px) scale(1.5)
                                rotate(15deg);
                        }
                        .gradient_bg_bottom {
                            transform: translateY(405px);
                        }
                    }
                    &:last-child {
                        svg {
                            transform: translate(-7vw, 200px) scale(1.5)
                                rotate(-15deg);
                        }
                        .gradient_bg_bottom {
                            transform: translateY(435px);
                        }
                    }
                    .gsap_bg {
                        cursor: default;
                        z-index: 10000;
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        height: 100vh;
                        background-color: rgba(0, 0, 0, 0.5);
                        opacity: 0;
                        pointer-events: none;
                        .modal {
                            background-color: #fff;
                            width: 88vw;
                            height: 84vh;
                            position: inherit;
                            top: 10vh;
                            padding: 7vw 6vw;
                            flex-direction: column;
                            overflow-x: clip;
                            filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.3));
                            &:nth-child(2) {
                                left: 51vw;
                            }
                            &::before {
                                position: absolute;
                                top: -2.5vh;
                                left: 0;
                                display: block;
                                content: "";
                                background: radial-gradient(
                                    circle,
                                    transparent 1.1vh,
                                    white 1.15vh
                                );
                                background-size: 5vh 4vh;
                                background-position: -2vh -2vh;
                                width: 100%;
                                height: 5vh;
                                z-index: -3;
                            }
                            &::after {
                                position: absolute;
                                top: 0;
                                left: 0;
                                display: block;
                                content: "";
                                background: linear-gradient(
                                    180deg,
                                    rgb(255, 255, 255) 0%,
                                    transparent 100%
                                );
                                width: 100%;
                                height: 5vh;
                                z-index: -3;
                            }
                            img {
                                width: 70vw;
                                padding: 2vw 10vw 5vw;
                                height: fit-content;
                            }
                            .modal_content {
                                flex-direction: column;
                                white-space: pre-wrap;
                                border: 1px solid #1500ff4e;
                                text-align: justify;
                                overflow: scroll;
                                .cnt {
                                    flex-direction: column;
                                    padding: 2vw 3vw;
                                    &:not(.cnt:last-child) {
                                        border-bottom: 2px dotted #1500ff4e;
                                    }
                                    span {
                                        margin-bottom: 7px;
                                        text-align: left;
                                        font: {
                                            weight: 600;
                                        }
                                    }
                                    div {
                                        flex-direction: column;
                                        span {
                                            all: unset;
                                        }
                                        .mg_top {
                                            margin-top: 1rem;
                                        }
                                    }
                                }
                                .content {
                                    line-height: 1.4;
                                }
                                .check {
                                    div {
                                        all: unset;
                                    }
                                }
                                .ex_url_wrap {
                                    // padding: 1.5vw;
                                    .ex_url {
                                        div {
                                            display: flex;
                                            padding: 3px 7px;
                                            border-radius: 5px;
                                            align-items: center;
                                            margin-right: 5px;
                                            cursor: pointer;
                                            transition: 0.3s;
                                            &:hover {
                                                background-color: #1500ff1c;
                                                letter-spacing: 3px;
                                                transition: 0.3s;
                                            }
                                        }
                                        svg {
                                            all: unset;
                                            margin-left: 5px;
                                            position: unset;
                                            z-index: 0;
                                            height: 1rem;
                                            opacity: unset;
                                            color: #1a1d3f;
                                        }
                                    }
                                }
                            }
                            .noise {
                                position: fixed;
                                left: 0;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                z-index: -2;
                                background-image: url("https://i.ibb.co/x3TCktM/645cbb8ec449398255b76326-noise.gif");
                                background-position: 0 0;
                                background-size: auto;
                                pointer-events: none;
                                opacity: 0.05;
                                transition: opacity 0.2s
                                    cubic-bezier(0.445, 0.05, 0.55, 0.95);
                                visibility: visible;
                                mix-blend-mode: overlay;
                            }
                            svg {
                                position: absolute;
                                z-index: -3;
                                bottom: 0;
                                left: -6vw;
                                height: 100%;
                                opacity: 0.7;
                                transform: rotate(0);
                            }
                            .top {
                                position: absolute;
                                top: 1vw;
                                width: 88vw;
                                justify-content: space-between;
                                align-items: baseline;
                                & div {
                                    &:first-child {
                                        font-family: "JalnanGothic";
                                    }
                                    &:last-child:not(.close) {
                                        font-family: "Pretendard-ExtraLight";
                                    }
                                }
                                .close {
                                    cursor: pointer;
                                    font-weight: 600;
                                }
                            }
                            .scroll {
                                position: absolute;
                                right: 5vw;
                                bottom: 4vw;
                                color: #fff;
                                background-color: rgba(0, 0, 0, 0.3);
                                padding: 5px;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes aniScroll {
    0% {
        transform: translate(0%, 2px);
    }
    100% {
        transform: translate(-100%, 2px);
    }
}
@keyframes aniScroll2 {
    0% {
        transform: translate(100%, 2px);
    }
    100% {
        transform: translate(0%, 2px);
    }
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translate(100%, 2px);
    }
    100% {
        opacity: 1;
        transform: translate(0%, 2px);
    }
}
@keyframes up {
    0% {
        opacity: 0;
        transform: translate(-25vw, 0) rotate(-5deg);
    }
    100% {
        opacity: 1;
        transform: translate(-25vw, -2.5vw) rotate(-5deg);
    }
}
@keyframes down {
    0% {
        opacity: 1;
        transform: translate(-25vw, -2.5vw) rotate(-5deg);
    }
    100% {
        opacity: 0;
        transform: translate(-25vw, 0) rotate(-5deg);
    }
}
