.ex_wrap {
    margin-top: 125px;
    padding: 70px 27px 0 20px;
    width: 100%;

    .ex {
        padding: 0 15vw;
        flex-direction: column;
        .text {
            flex-direction: column;
            font: {
                family: "neurimboGothicRegular";
                size: 5rem;
            }
            .text_main {
                line-height: 0.8;
            }
            .text_sub {
                font-size: 2rem;
                margin-top: 1vh;
                align-self: flex-end;
            }
        }
        .col {
            // background-color: pink;
            height: 500px;
            .ex_content_wrap {
                position: absolute;
                flex-direction: column;
                right: 7px;
                transform: translateY(30px);
                width: 60vw;
                .ex_list_header,
                .ex_list_content {
                    border-bottom: 1px solid #1d1a3f;
                }
                .title {
                    flex: 1;
                    margin: 1.5vw 0;
                }
                .ex_list_content {
                    cursor: pointer;
                    .rolling_wrap {
                        .rolling_text {
                            opacity: 0;
                            position: absolute;
                            display: flex;
                            align-items: center;
                            width: 60vw;
                            height: 4.16vw;
                            overflow: hidden;
                            ul {
                                position: absolute;
                                display: flex;
                                width: max-content;
                                animation: aniScroll 5s linear infinite;
                                &:last-child {
                                    animation: aniScroll2 5s linear infinite;
                                }
                                li {
                                    list-style: none;
                                    width: 14vw;
                                    text-align: center;
                                    color: #f2f2ff;
                                    // padding: 1.26vw 0;
                                    font: {
                                        size: 1.5vw;
                                        family: "JalnanGothic";
                                    }
                                }
                            }
                        }
                    }
                    img {
                        position: absolute;
                        width: 100%;
                        height: 4.15vw;
                        filter: grayscale(100%) brightness(0.7);
                        object-fit: cover;
                        opacity: 0;
                        z-index: -10;
                    }
                    &:hover {
                        .content {
                            opacity: 0;
                            transition: 0.2s;
                        }
                        .rolling_text {
                            opacity: 1;
                            transition: 0.2s;
                        }
                        img {
                            animation: slide 0.5s ease-out forwards;
                        }
                    }
                }
                .content {
                    opacity: 1;
                    flex: 1;
                    margin: 1.5vw 0;
                    font: {
                        size: 1rem;
                    }
                }
            }
        }
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes aniScroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes aniScroll2 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

/* .modal_wrap {
    flex-direction: row;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 30px;
    width: 340px;
    height: 250px;
    overflow: hidden;
    transition: 0.3s;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.modal_wrap img:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.modal_wrap:hover {
    transition: 0.3s;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.11), 0 2px 7px rgba(0, 0, 0, 0.12);
    border: 1px solid rgb(205, 205, 205);
}
.img {
    width: 100%;
    object-fit: contain;
    -webkit-user-drag: none;
    transition: 0.3s;
}
.modal svg {
    position: absolute;
    right: 20px;
    color: rgba(0, 0, 0, 0.3);
    transition: 0.1s;
}
.modal svg:hover {
    color: rgba(0, 0, 0, 0.7);
    transition: 0.1s;
} */

@media screen and (min-width: 1024px) {
    /* 데탑 */
    /* .experience_wrap {
        flex-direction: column;
        margin: 30px auto 70px;
        padding-top: 70px;
        width: 700px;
    }
    .modal_img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        -webkit-user-drag: none;
    }
    .modal {
        display: flex;
    } */
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* 타블렛 */
    .experience_wrap {
        flex-direction: column;
        margin: 30px auto 70px;
        padding-top: 70px;
        width: 630px;
    }
    .modal_img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        -webkit-user-drag: none;
    }
    .modal {
        display: flex;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    /* 타블렛과 모바일 사이 */
    .experience_wrap {
        flex-direction: column;
        margin: 0 auto 70px;
        padding-top: 70px;
        width: 500px;
    }
    .modal_img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        -webkit-user-drag: none;
    }
}

@media screen and (max-width: 479px) {
    /* 모바일 */
    .experience_wrap {
        flex-direction: column;
        margin: 0 auto 70px;
        padding-top: 70px;
        width: 350px;
    }
    .modal_wrap {
        margin: 0 auto;
    }
    .modal_img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        -webkit-user-drag: none;
    }
}
