.introduce_wrap {
    display: flex;
    padding: 0 20px;
    width: 100%;
    height: 100vh;
    .main_text {
        width: 100%;
        flex-direction: column;
        z-index: 1;
        padding: 120px 3vw 0;
        font: {
            size: 8rem;
            family: "neurimboGothicRegular";
            weight: bolder;
        }
        .text {
            width: 100%;
            color: rgba(182, 182, 182, 0.2);
            // color: #403973;
            background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
            -webkit-background-clip: text;
            background: {
                clip: text;
                size: 0%;
            }
            transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;

            border-bottom: 1px solid #2f2b28;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            position: relative;
            span {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #4246ce;
                color: #0d0d0d;

                clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
                transform-origin: center;
                transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;

                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &:hover span {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
        }
    }
}

/* .introduce_wrap h1 {
    margin: 50px 0 40px 0;
}
.intro {
    flex-direction: row;
}
.intro img {
    border-radius: 100px;
    -webkit-user-drag: none;
    width: 130px;
    height: 173.33px;
}
.intro_url_wrap {
    flex-direction: column;
    font-weight: 300;
    margin-left: 30px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 10px;
    padding: 20px 25px;
}
.intro_url_wrap div:first-child {
    text-align: justify;
}
.intro_url_wrap hr {
    border: 0;
    height: 1px;
    background-color: rgb(232, 232, 232);
    width: 100%;
    margin: 30px 0 25px 0;
}
.url_wrap {
    flex-direction: column;
    height: 100%;
}
.url:not(.url:last-child) a {
    margin-bottom: 10px;
}
.url a {
    padding: 0 5px;
    font-weight: 100;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 50%,
        rgb(255, 221, 0) 50%
    );
    background-size: 200%;
    transition: ease-in 0.3s;
    margin-left: 5px;
}
.url a:hover {
    color: black;
    background-position: -100% 0;
    transition: ease 0.3s;
} */

@media screen and (min-width: 1024px) {
    /* 데탑 */
    /* .introduce_wrap {
        flex-direction: column;
        margin: 50px auto 0;
        padding-top: 20px;
        width: 1100px;
        height: 837px;
        background-color: rgb(209, 192, 255);
    } */
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* 타블렛 */
    .introduce_wrap {
        flex-direction: column;
        margin: 50px auto 0;
        padding-top: 20px;
        width: 630px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    /* 타블렛과 모바일 사이 */
    .introduce_wrap {
        flex-direction: column;
        margin: 20px auto 0;
        padding-top: 20px;
        width: 500px;
    }
}

@media screen and (max-width: 479px) {
    /* 모바일 */
    .introduce_wrap {
        flex-direction: column;
        margin: 20px auto 0;
        padding-top: 20px;
        width: 350px;
    }
    .intro {
        flex-direction: column;
    }
    .intro_url_wrap {
        margin: 20px 0 0 0;
    }
}
