.introduce_wrap {
    display: flex;
    margin: 0 27px 0 20px;
    width: 100%;
    height: 100vh;
    .main_text {
        width: 100%;
        flex-direction: column;
        z-index: 1;
        padding: 15vh 5vw 0;
        font: {
            size: 9vw;
            family: "neurimboGothicRegular";
            weight: 600;
        }
        .text {
            width: 100%;
            color: rgba(182, 182, 182, 0.2);
            // color: #403973;

            // border-bottom: 1px solid #2f2b28;

            background: rgba(182, 182, 182, 0.5);
            color: transparent;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            position: relative;
            span {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #4246ce;
                color: #0d0d0d;
                text-shadow: none;

                clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
                transform-origin: center;
                transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;

                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &:hover span {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    /* 데탑 */
}
@media screen and (max-width: 1400px) {
    /* 타블렛 전*/
    .introduce_wrap {
        // background-color: pink;
        height: unset; //ios safari에서만 사용할 수치 정의
        @supports (-webkit-touch-callout: none) {
            :root {
                --light: 300;
            }
        }
        /* font weight */
        $font-weight_b: var(--light, 600);

        .main_text {
            width: 100%;
            flex-direction: column;
            z-index: 1;
            padding: 15vh 5vw 0;
            font: {
                size: 15vw;
                family: "neurimboGothicRegular";
                weight: $font-weight_b;
            }
            .text {
                all: unset;
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;
                color: #1d1a3f;
                line-height: 0.9;
                transition: 0.3s;
                span {
                    all: unset;
                    line-height: normal;
                    transition: 0.3s;
                    position: unset;
                    width: 100%;
                    height: 100%;
                    text-align: right;
                    // background-color: #4246ce;
                    background: rgba(128, 118, 190, 0.5);
                    color: transparent;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
                    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
                    font: {
                        size: 8vw;
                    }
                }
                &:hover {
                    span {
                        clip-path: unset;
                        background: rgba(128, 118, 190, 1);
                        color: transparent;
                        -webkit-background-clip: text;
                        -moz-background-clip: text;
                        background-clip: text;
                        text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 479px) {
    /* 모바일 */
    .introduce_wrap {
        padding: 15vh 7vw 0;
        height: unset;
        .main_text {
            padding: 0;
            .text {
                all: unset;
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;
            }
        }
    }
}
