.introduce_wrap {
    display: flex;
    padding: 0 20px;
    width: 100%;
    height: 100vh;
    .main_text {
        width: 100%;
        flex-direction: column;
        z-index: 1;
        padding: 15vh 3vw 0;
        font: {
            size: 9vw;
            family: "neurimboGothicRegular";
            weight: bolder;
        }
        .text {
            width: 100%;
            color: rgba(182, 182, 182, 0.2);
            // color: #403973;
            background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
            -webkit-background-clip: text;
            background: {
                clip: text;
                size: 0%;
            }
            transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;

            border-bottom: 1px solid #2f2b28;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            position: relative;
            span {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #4246ce;
                color: #0d0d0d;

                clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
                transform-origin: center;
                transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;

                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &:hover span {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    /* 데탑 */
}
@media screen and (min-width: 768px) and (max-width: 1340px) {
    /* 타블렛 전*/
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* 타블렛 */
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    /* 타블렛과 모바일 사이 */
}

@media screen and (max-width: 479px) {
    /* 모바일 */
    .introduce_wrap {
        padding: 0 7vw;
        height: unset;
        .main_text {
            padding: 250px 0 130px;
            font: {
                size: 4rem;
            }
            .text {
                span {
                    font: {
                        size: 2.3rem;
                    }
                }
            }
        }
    }
}
