.practice_wrap {
    border: 1px solid black;
    flex-direction: column;
    padding-top: 30px;
}
.column {
    flex-direction: column;
}
.row_1 {
    margin-right: 120px;
}
.row_2 {
    margin-left: 120px;
}
.row {
    margin: 20px;
    flex-direction: row;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 30px;
    width: 350px;
    height: 250px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(120, 120, 120, 1);
    -moz-box-shadow: 0px 0px 5px -2px rgba(120, 120, 120, 1);
    box-shadow: 0px 0px 5px -2px rgba(120, 120, 120, 1);
}
.row :hover {
    transition: 0.3s;
    filter: brightness(0.7);
    cursor: pointer;
}
.row button {
    position: absolute;
    left: 20px;
    bottom: 30px;
    width: fit-content;
    height: fit-content;
}
.row img {
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.click {
    position: absolute;
    color: white;
    left: 25px;
    bottom: 20px;
    font-family: "Rubik Mono One", sans-serif;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
.mySwiper {
    position: relative;
    height: 100%;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}
