.mySwiper_row {
    --swiper-theme-color: #fff;
}
.practice_wrap h2 {
    margin-bottom: 30px;
}
.swiper_wrap {
    border: 1px solid rgb(232, 232, 232);
    border-radius: 10px;
    padding: 20px 25px;
    margin-bottom: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.skills div {
    background-color: #f8f8f8;
    padding: 3px 7px;
    margin: 5px 5px 5px 0;
    border-radius: 5px;
}
.skills {
    flex-direction: row;
}
.skill_shortcut {
    flex-direction: column;
    position: absolute;
    bottom: 20px;
}
.shortcut svg {
    margin-left: 5px;
    padding: 3px 0;
    filter: brightness(0.9);
}
.shortcut div {
    background-color: #e8e8e8;
    padding: 3px 7px;
    margin: 5px 5px 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

.js_product {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: rgb(155, 155, 155);
    cursor: default;
}
.swiper_wrap_row {
    flex-direction: column;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 10px;
    padding: 20px 25px 120px 25px;
    margin-bottom: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (min-width: 1024px) {
    /* 데탑 */
    .practice_wrap {
        flex-direction: column;
        margin-top: 70px;
        padding-top: 70px;
        width: 700px;
    }
    .mySwiper {
        border: 1px solid rgb(232, 232, 232);
        width: 600px;
    }
    .project_content {
        margin-left: 25px;
        width: 100%;
        text-align: justify;
        font-weight: 300;
    }
    .content {
        flex-direction: column;
    }
    .content div {
        margin-bottom: 10px;
    }
    .mySwiper_row,
    .mySwiper_row_black {
        border: 1px solid rgb(232, 232, 232);
        width: 650px;
    }
    .project_content_row {
        margin-top: 20px;
        width: 100%;
        flex-direction: column;
        font-weight: 300;
        text-align: justify;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* 타블렛 */
    .practice_wrap {
        flex-direction: column;
        margin-top: 70px;
        padding-top: 70px;
        width: 630px;
    }
    .mySwiper {
        border: 1px solid rgb(232, 232, 232);
        width: 500px;
    }
    .project_content {
        margin-left: 25px;
        width: 100%;
        text-align: justify;
        font-weight: 300;
    }
    .content {
        flex-direction: column;
    }
    .content div {
        margin-bottom: 10px;
    }
    .mySwiper_row,
    .mySwiper_row_black {
        border: 1px solid rgb(232, 232, 232);
        width: 580px;
    }
    .project_content_row {
        margin-top: 20px;
        width: 100%;
        flex-direction: column;
        font-weight: 300;
        text-align: justify;
    }
}

@media screen and (max-width: 767px) {
    /* 모바일 */
    .practice_wrap {
        flex-direction: column;
        margin-top: 70px;
        padding-top: 70px;
        width: 500px;
    }
    .mySwiper {
        border: 1px solid rgb(232, 232, 232);
        width: 450px;
        height: 300px;
    }

    .swiper_wrap,
    .swiper_wrap_row {
        flex-direction: column;
        border: 1px solid rgb(232, 232, 232);
        border-radius: 10px;
        padding: 20px 25px 120px 25px;
        margin-bottom: 30px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .mySwiper_row,
    .mySwiper_row_black {
        border: 1px solid rgb(232, 232, 232);
        width: 450px;
    }
    .project_content,
    .project_content_row {
        margin-top: 20px;
        width: 100%;
        flex-direction: column;
        font-weight: 300;
        text-align: justify;
    }
    .content {
        flex-direction: column;
    }
    .content div {
        margin-bottom: 10px;
    }
}
