.swiper_wrap_row .mySwiper_row {
    --swiper-theme-color: #fff;
}

@media screen and (min-width: 1024px) {
    /* 데탑 */
    .practice_wrap {
        flex-direction: column;
        margin-top: 70px;
        padding-top: 70px;
        width: 700px;
    }
    .practice_wrap h2 {
        margin-bottom: 30px;
    }
    .swiper_wrap {
        border: 1px solid rgb(232, 232, 232);
        border-radius: 10px;
        padding: 20px 25px;
        margin-bottom: 30px;
    }
    .mySwiper {
        border: 1px solid rgb(232, 232, 232);
        width: 600px;
    }
    .js_product {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: rgb(155, 155, 155);
        cursor: default;
    }
    .project_content {
        margin-left: 25px;
        width: 100%;
        text-align: justify;
    }
    .skills div {
        display: inline-block;
        background-color: #f8f8f8;
        padding: 3px 7px;
        margin: 5px 5px 5px 0;
        border-radius: 5px;
    }
    .skills {
        flex-direction: row;
    }
    .skill_shortcut {
        flex-direction: column;
        position: absolute;
        bottom: 20px;
    }
    .shortcut svg {
        margin-left: 5px;
        padding: 3px 0;
        filter: brightness(0.9);
    }
    .shortcut div {
        background-color: #e8e8e8;
        padding: 3px 7px;
        margin: 5px 5px 5px 0;
        border-radius: 5px;
        cursor: pointer;
    }

    .swiper_wrap_row {
        flex-direction: column;
        border: 1px solid rgb(232, 232, 232);
        border-radius: 10px;
        padding: 20px 25px 120px 25px;
        margin-bottom: 30px;
    }
    .mySwiper_row {
        border: 1px solid rgb(232, 232, 232);
        width: 650px;
    }
    .project_content_row {
        margin-top: 20px;
        width: 100%;
        flex-direction: column;
        font-weight: 300;
        text-align: justify;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* 타블렛 */
    .practice_wrap {
        flex-direction: column;
        padding-top: 30px;
    }
    .column {
        flex-direction: column;
    }
    .row_1 {
    }
    .row_2 {
    }
    .row {
        margin: 20px;
        flex-direction: row;
        border: 1px solid rgb(208, 208, 208);
        border-radius: 30px;
        width: 300px;
        height: 250px;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 5px -2px rgba(120, 120, 120, 1);
        -moz-box-shadow: 0px 0px 5px -2px rgba(120, 120, 120, 1);
        box-shadow: 0px 0px 5px -2px rgba(120, 120, 120, 1);
    }
    .row :hover {
        transition: 0.3s;
        filter: brightness(0.7);
        cursor: pointer;
    }
    .row img {
        width: 100%;
        object-fit: cover;
        transition: 0.3s;
        -webkit-user-drag: none;
    }
    .click {
        position: absolute;
        color: rgb(112, 112, 112);
        left: 25px;
        bottom: 20px;
        font-family: "TheJamsil5Bold", sans-serif;
        /* text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); */
    }
    .modal {
        /* display: flex; */
    }
    .mySwiper {
        position: relative;
        width: 100%;
        height: 50%;
        margin-left: 0;
        --swiper-theme-color: #fff;
        --swiper-navigation-size: 30px;
    }
    .modal_content {
        padding-top: 20px;
    }
    .js_product {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: rgb(155, 155, 155);
        cursor: default;
    }
    .skills div {
        display: inline-block;
        background-color: #e8e8e8;
        padding: 3px 7px;
        margin: 5px 5px 5px 0;
        border-radius: 5px;
    }
    .skills {
        flex-direction: row;
    }
    .absol_bottom {
        position: absolute;
        bottom: 25px;
    }
    .shortcut svg {
        margin-left: 5px;
        vertical-align: middle;
        filter: brightness(0.9);
    }
    .shortcut div {
        background-color: rgb(79, 78, 86);
        display: inline-block;
        padding: 3px 7px;
        margin: 5px 5px 5px 0;
        border-radius: 5px;
        cursor: pointer;
        color: rgb(255, 255, 255);
    }
}

@media screen and (max-width: 767px) {
    /* 모바일 */
    .practice_wrap {
        flex-direction: column;
        padding-top: 30px;
    }
    .column {
        flex-direction: column;
    }
    .row_1 {
        flex-direction: column;
    }
    .row_2 {
        flex-direction: column;
    }
    .row {
        margin: 20px;
        flex-direction: row;
        border: 1px solid rgb(208, 208, 208);
        border-radius: 30px;
        width: 350px;
        height: 250px;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 5px -2px rgba(120, 120, 120, 1);
        -moz-box-shadow: 0px 0px 5px -2px rgba(120, 120, 120, 1);
        box-shadow: 0px 0px 5px -2px rgba(120, 120, 120, 1);
    }
    .row :hover {
        transition: 0.3s;
        filter: brightness(0.7);
        cursor: pointer;
    }
    .row img {
        width: 100%;
        object-fit: cover;
        transition: 0.3s;
        -webkit-user-drag: none;
    }
    .click {
        position: absolute;
        color: rgb(112, 112, 112);
        left: 25px;
        bottom: 20px;
        font-family: "TheJamsil5Bold", sans-serif;
        /* text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); */
    }
    .modal {
        /* display: flex; */
    }
    .mySwiper {
        position: relative;
        width: 100%;
        height: 50%;
        margin-left: 0;
        --swiper-theme-color: #fff;
        --swiper-navigation-size: 30px;
    }
    .modal_content {
        padding-top: 20px;
    }
    .js_product {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: rgb(155, 155, 155);
        cursor: default;
    }
    .skills div {
        display: inline-block;
        background-color: #e8e8e8;
        padding: 3px 7px;
        margin: 5px 5px 5px 0;
        border-radius: 5px;
    }
    .skills {
        flex-direction: row;
    }
    .absol_bottom {
        position: absolute;
        bottom: 25px;
    }
    .shortcut svg {
        margin-left: 5px;
        vertical-align: middle;
        filter: brightness(0.9);
    }
    .shortcut div {
        background-color: rgb(79, 78, 86);
        display: inline-block;
        padding: 3px 7px;
        margin: 5px 5px 5px 0;
        border-radius: 5px;
        cursor: pointer;
        color: rgb(255, 255, 255);
    }
}
