.reserve {
    padding: 25px 0 40px 0;
    background-color: #1d1a3f80;
    color: beige;
    font-size: small;
    margin: 170px 17px 10px 10px;
    transition: 0.3s;
}
.reserve_wrap {
    padding: 0 12vw;
    flex-direction: column;
}
.contact_title {
    font-size: 28px;
    margin-bottom: 7px;
    flex-direction: row;
}
.url {
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
}
.url a {
    text-decoration: none;
}
.contact_url {
    margin-bottom: 25px;
}
.reserve_n_top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: self-end;
}
.reserve_n_top a:last-child {
    font-family: "StretchPro";
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 5px;
    transition: 0.3s;
}
.reserve_n_top a:last-child:hover {
    color: beige;
    transition: 0.2s;
}
/* .reserve_wrap svg {
    position: fixed;
    right: 30px;
    bottom: 35px;
    color: rgba(0, 0, 0, 0.3);
    transition: 0.1s;
}
.reserve_wrap svg:hover {
    color: rgba(0, 0, 0, 0.5);
    transition: 0.1s;
} */
