.reserve_wrap {
    text-align: center;
    padding: 10px 0 25px 0;
    width: 100%;
    background-color: rgb(240, 240, 240);
    color: rgb(141, 141, 141);
    font-family: "Pretendard-Regular";
    font-size: small;
    margin-top: 40px;
}
