.reserve {
    padding: 25px 0 40px 0;
    // background-color: rgba(29, 26, 63);
    background-color: #d9dbee;
    /* ㄴ #1D1A3F 와 같은 색상 */
    font-size: small;
    margin: 170px 17px 10px 10px;
    transition: 0.3s;

    .reserve_wrap {
        padding: 0 12vw;
        flex-direction: column;
        .contact_title {
            font-size: 28px;
            margin-bottom: 7px;
            flex-direction: row;
            font: {
                size: 2.5rem;
                family: "neurimboGothicRegular";
            }
        }
        .contact_url {
            margin-bottom: 25px;
            .url {
                display: inline-block;
                font-size: 16px;
                margin-right: 15px;
                text-decoration: none;
                color: inherit;
                cursor: pointer;
                font: {
                    size: 1.5rem;
                    family: "neurimboGothicRegular";
                }
            }
        }
        .reserve_n_top {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: self-end;
            & a:last-child {
                font: {
                    size: 1rem;
                    family: "StretchPro";
                }
                letter-spacing: 2px;
                word-spacing: 5px;
                transition: 0.3s;
            }
            & a:last-child:hover {
                /* color: beige; */
                transition: 0.2s;
            }
        }
    }
}

/* .reserve_wrap svg {
    position: fixed;
    right: 30px;
    bottom: 35px;
    color: rgba(0, 0, 0, 0.3);
    transition: 0.1s;
}
.reserve_wrap svg:hover {
    color: rgba(0, 0, 0, 0.5);
    transition: 0.1s;
} */
