.skills_wrap {
    /* border: 1px solid black; */
    flex-direction: column;
}
.row {
    flex-direction: row;
}
/* .column:hover {
    transition: ease 0.5s;
    transform: translateY(-50px);
} */
.column {
    width: 200px;
    flex-direction: column;
    border-radius: 30px;
    padding-bottom: 15px;
    background-color: #fff;
    box-shadow: 0px 5px 35px -21px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 35px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 35px -21px rgba(0, 0, 0, 0.75);
    /* filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.08))
        drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1))
        drop-shadow(0 2px 4px rgba(0, 0, 0, 0.08))
        drop-shadow(0 -1px 3px rgba(0, 0, 0, 0.06)); */
    margin: 0 20px;
    overflow: hidden;
}
.column div {
    margin: 10px 15px 0;
}
.column div:nth-child(4) {
    border-radius: 30px 30px 0 0;
    margin: 0;
    padding: 15px 0 35px;
    display: block;
    text-align: center;
    font-size: 17px;
    z-index: 1;
    color: #fff;
    text-shadow: -3px 1px 5px rgba(255, 255, 255, 0.6);
}
.column svg {
    margin-right: 10px;
}
.wave {
    width: 500px;
    height: 500px;
    position: absolute;
    top: -90%;
    left: -160px;
    border-radius: 43%;
    animation: drift 5s infinite linear;
    background: linear-gradient(320deg, #9486ff, #9fc4ff, #b7f7ff);
    opacity: 0.5;
    /* 뒤 물결 */
}
.wave_layer_1 {
    animation: drift 8s infinite linear;
    background: linear-gradient(320deg, #9486ff, #9fc4ff, #b7f7ff);
    /* 가운데 물결 */
}
.wave_layer_2 {
    animation: drift 11s infinite linear;
    background: linear-gradient(320deg, #9486ff, #9fc4ff, #b7f7ff);
    /* 앞 물결 */
}
@keyframes drift {
    100% {
        transform: rotate(-360deg);
    }
}
