.skills_wrap {
    width: 100%;
    flex-direction: column;
    padding-top: 103px;
    z-index: 1;
    padding: 100px 27px 0 20px;
    margin-top: 50px;
    font-weight: 300;
}
.skills_wrap span {
    font-family: "neurimboGothicRegular";
    font-size: 5rem;
    line-height: 0.8;
    padding: 0 15vw;
    align-self: flex-end;
}

@media screen and (min-width: 1024px) {
    /* 데탑 */
    /* .skills_wrap {
        width: 700px;
        margin: 0 auto;
    }
    .skill_title {
        margin-right: 30px;
    } */
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* 타블렛 */
    .skills_wrap {
        width: 630px;
        margin: 0 auto;
    }
    .skill_title {
        margin-right: 30px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    /* 타블렛과 모바일 사이 */
    .skills_wrap {
        width: 500px;
        margin: 0 auto;
    }
    .skill_title {
        margin-right: 30px;
    }
}

@media screen and (max-width: 479px) {
    /* 모바일 */
    .skills_wrap {
        width: 350px;
        margin: 0 auto;
    }
    .skill_title {
        margin-right: 30px;
    }
    .skills:nth-child(4) {
        margin-top: 21px;
    }
}
