.bg_wrap {
    margin: 0 auto;
    width: 1200px;
    height: 543px;
    font-weight: 300;
}
.bg_square {
    position: absolute;
    background-color: #fff;
    width: -webkit-fill-available;
    z-index: -99;
    height: inherit;
}
.bg_square_minus_length {
    position: absolute;
    background-color: #f5f1fc;
    width: 205px;
    height: inherit;
}
.bg_square_minus {
    position: absolute;
    width: -webkit-fill-available;
    height: inherit;
    background-color: #f5f1fc;
    z-index: -100;
}
.skills_wrap {
    width: 1200px;
    flex-direction: column;
    padding-top: 103px;
    z-index: 1;
}
.row {
    flex-direction: row;
    margin-bottom: 98px;
    justify-content: space-between;
}
.rotate_text {
    writing-mode: vertical-rl;
    justify-content: center;
    letter-spacing: 10px;
    color: #d3d3d3;
}
.skill_title {
    flex-direction: column;
    margin-right: 50px;
}
.skill_title div {
    padding: 3px 7px 3px 0;
    margin: 5px 5px 5px 0;
    color: rgb(141, 141, 141);
}
.column {
    flex-direction: column;
    /* font-family: "Pretendard-Regular"; */
}
.skills div {
    background-color: #f8f8f8;
    padding: 3px 7px;
    margin: 5px 5px 5px 0;
    border-radius: 5px;
}
.skills {
    flex-direction: row;
}

@media screen and (min-width: 1024px) {
    /* 데탑 */
    /* .skills_wrap {
        width: 700px;
        margin: 0 auto;
    }
    .skill_title {
        margin-right: 30px;
    } */
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* 타블렛 */
    .skills_wrap {
        width: 630px;
        margin: 0 auto;
    }
    .skill_title {
        margin-right: 30px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    /* 타블렛과 모바일 사이 */
    .skills_wrap {
        width: 500px;
        margin: 0 auto;
    }
    .skill_title {
        margin-right: 30px;
    }
}

@media screen and (max-width: 479px) {
    /* 모바일 */
    .skills_wrap {
        width: 350px;
        margin: 0 auto;
    }
    .skill_title {
        margin-right: 30px;
    }
    .skills:nth-child(4) {
        margin-top: 21px;
    }
}
