* {
    padding: 0;
    margin: 0;
}
ul,
li {
    list-style: none;
}

.wrapper {
    margin: 50px 0;
    flex-direction: column;
    overflow: auto;

    .slide_container {
        overflow: hidden;
        .slide_wrapper {
            display: flex;
            flex-wrap: nowrap;
        }
        .slide {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            position: relative;

            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
            }
            &.original {
                animation: 50s linear infinite normal none running
                    infiniteAnimation1;
            }
            &.clone {
                animation: 50s linear infinite infiniteAnimation2;
            }
            &.stop {
                animation-play-state: paused;
            }

            li {
                margin: 0 5px;
                // cursor: pointer;
                z-index: 2;
                transition: 0.3s;
                &:hover {
                    transform: scale(0.97);
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        // background-color: rgba(0, 0, 0, 0.2);
                        border-radius: 1.5vw;
                    }
                }
                &.square,
                &.radiusStrong,
                &.rectangle,
                &.circle,
                &.flower {
                    width: 250px;
                    // height: 17vw;
                    height: 250px;
                    border-radius: 1.5vw;
                }
                &.radiusStrong {
                    width: 300px;
                    border-radius: 10vw;
                }
                &.rectangle {
                    width: 400px;
                }
                &.circle {
                    width: 250px;
                    border-radius: 50vw;
                }
                &.flower {
                    &:last-child {
                        width: 250px;
                        --color: rgb(220 220 0);

                        --baseGradient: 
    /* Center */ radial-gradient(
                                circle at var(--posX) var(--posY),
                                var(--color) calc(var(--r) * 1.5),
                                transparent calc(var(--r) * 1.5 + 1px)
                            ),
                            radial-gradient(
                                circle at var(--x1) var(--y1),
                                var(--grad)
                            ),
                            radial-gradient(
                                circle at var(--x2) var(--y2),
                                var(--grad)
                            ),
                            radial-gradient(
                                circle at var(--x3) var(--y3),
                                var(--grad)
                            ),
                            radial-gradient(
                                circle at var(--x4) var(--y4),
                                var(--grad)
                            ),
                            radial-gradient(
                                circle at var(--x5) var(--y5),
                                var(--grad)
                            ),
                            radial-gradient(
                                circle at var(--x6) var(--y6),
                                var(--grad)
                            );

                        position: relative;

                        img {
                            -webkit-mask-image: var(
                                --mask,
                                var(--baseGradient)
                            );
                            mask-image: var(--mask, var(--baseGradient));
                        }

                        --mask: var(--baseGradient),
                            radial-gradient(
                                circle at var(--x7) var(--y7),
                                var(--grad)
                            ),
                            radial-gradient(
                                circle at var(--x8) var(--y8),
                                var(--grad)
                            ),
                            radial-gradient(
                                circle at var(--x9) var(--y9),
                                var(--grad)
                            ),
                            radial-gradient(
                                circle at var(--x10) var(--y10),
                                var(--grad)
                            ),
                            radial-gradient(
                                circle at var(--x11) var(--y11),
                                var(--grad)
                            );
                    }
                    --angle: 360deg / var(--sides, 6);
                    --posX: 50%;
                    --posY: 50%;
                    --color: #434a8a;

                    --grad: var(--color) var(--size),
                        transparent calc(var(--size) + 1px);

                    @for $i from 1 through 11 {
                        --a#{$i}: calc(var(--angle) * #{$i});
                        --x#{$i}: calc(
                            var(--posX) + (cos(var(--a#{$i})) * var(--r))
                        );
                        --y#{$i}: calc(
                            var(--posY) + (sin(var(--a#{$i})) * var(--r))
                        );
                    }

                    // --a1: calc(var(--angle) * 1);
                    // --x1: calc(var(--posX) + (cos(var(--a1)) * var(--r)));
                    // --y1: calc(var(--posY) + (sin(var(--a1)) * var(--r)));

                    --baseGradient: 
    /* Center */ radial-gradient(
                            circle at var(--posX) var(--posY),
                            var(--color) var(--r),
                            transparent calc(var(--r) + 1px)
                        ),
                        radial-gradient(
                            circle at var(--x1) var(--y1),
                            var(--grad)
                        ),
                        radial-gradient(
                            circle at var(--x2) var(--y2),
                            var(--grad)
                        ),
                        radial-gradient(
                            circle at var(--x3) var(--y3),
                            var(--grad)
                        ),
                        radial-gradient(
                            circle at var(--x4) var(--y4),
                            var(--grad)
                        ),
                        radial-gradient(
                            circle at var(--x5) var(--y5),
                            var(--grad)
                        ),
                        radial-gradient(
                            circle at var(--x6) var(--y6),
                            var(--grad)
                        );

                    aspect-ratio: 1;

                    --sides: 11;
                    --size: 15%;
                    --r: 35%;

                    background: var(--baseGradient),
                        radial-gradient(
                            circle at var(--x7) var(--y7),
                            var(--grad)
                        ),
                        radial-gradient(
                            circle at var(--x8) var(--y8),
                            var(--grad)
                        ),
                        radial-gradient(
                            circle at var(--x9) var(--y9),
                            var(--grad)
                        ),
                        radial-gradient(
                            circle at var(--x10) var(--y10),
                            var(--grad)
                        ),
                        radial-gradient(
                            circle at var(--x11) var(--y11),
                            var(--grad)
                        );
                }
                .item {
                    width: 100%;
                    height: 100%;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    border-radius: inherit;
                    font: {
                        size: 1.5rem;
                        family: "Pretendard-Regular";
                        weight: 600;
                    }
                    line-height: 1;
                }
                .item img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: inherit;
                }
            }
        }
    }

    .tool_wrap {
        padding: 0 27px 0 20px;
        justify-content: end;

        /*== start of code for tooltips ==*/
        .tool {
            color: rgb(217, 219, 238);
            margin: 50px 0 100px;
            position: relative;
            white-space: nowrap;
            padding: 0 15vw;
            &:after {
                text-align: center;
                white-space: normal;
            }
            &:focus {
                outline: none;
            }

            /*== common styles for both parts of tool tip ==*/
            &::before,
            &::after {
                left: 50%;
                opacity: 0;
                position: absolute;
                z-index: -100;
            }
            &:hover::before,
            &:focus::before,
            &:hover::after,
            &:focus::after {
                opacity: 1;
                transform: scale(1) translateY(0);
                z-index: 100;
            }

            /*== pointer tip ==*/
            &::before {
                border-style: solid;
                border-width: 0 0.75em 1em 0.75em;
                border-color: transparent transparent #3e474f transparent;
                top: 110%;
                content: "";
                margin-left: -0.5em;
                transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26),
                    opacity 0.65s 0.5s;
                transform: scale(0.6) translateY(90%);
            }
            &:hover::before,
            &:focus::before {
                transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
            }

            /*== speech bubble ==*/
            &::after {
                background: #3e474f;
                border-radius: 0.25em;
                top: 190%;
                color: #edeff0;
                content: attr(data-tip);
                margin-left: -8.75em;
                padding: 1em;
                transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
                transform: scale(0.6) translateY(-50%);
                width: 17.5em;
            }
            &:hover::after,
            &:focus::after {
                transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26);
            }
        }
        // @media (max-width: 760px) {
        //     .tool::after {
        //         font-size: 0.75em;
        //         margin-left: -5em;
        //         width: 10em;
        //     }
        // }
    }
}

@keyframes infiniteAnimation1 {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-100%);
    }
    50.1% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes infiniteAnimation2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}
