@media screen and (min-width: 768px) {
    .header {
        background: linear-gradient(to bottom, #f2f2ff, rgba(0, 0, 0, 0));
        width: 100%;
        position: fixed;
        z-index: 100;
        font: {
            size: 0.9rem;
            family: "StretchPro";
        }
        .header_wrap {
            display: flex;
            padding: 20px 27px 20px 20px;
            margin: 0 3vw;
            justify-content: space-between;
            align-items: center;
            .initial {
                cursor: pointer;
            }
            .nav {
                .link {
                    position: relative;
                    display: inline-block;
                    text-align: center;
                    line-height: 20px;
                    padding: 3px 5px;
                    margin-left: 30px;
                    cursor: pointer;
                    &::before,
                    &::after {
                        width: 0%;
                        height: 0%;
                        opacity: 0;
                        transition: width 0.2s linear,
                            height 0.15s 0.2s ease-out, opacity 0s 0.35s;
                    }
                    &::before {
                        bottom: 0;
                        left: -1px;
                        border-top: 1px solid #1d1a3f;
                        border-left: 1px solid #1d1a3f;
                    }
                    &::after {
                        top: 0;
                        right: 0;
                        border-bottom: 1px solid #1d1a3f;
                        border-right: 1px solid #1d1a3f;
                    }
                    &:hover::before,
                    &:hover::after {
                        width: 100%;
                        height: 99%;
                        opacity: 1;
                        transition: width 0.2s 0.15s ease-out,
                            height 0.15s ease-in, opacity 0s;
                    }
                }
            }
        }
    }
    ::before,
    ::after {
        position: absolute;
        content: "";
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: 100vw;
        position: fixed;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        font-family: "StretchPro";
        background: linear-gradient(to bottom, #f2f2ff, rgba(0, 0, 0, 0));

        .initial_mobile {
            display: flex;
            margin: 0 7vw;
            padding: 20px 0;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 5px;
            animation: navClose;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-direction: normal;
            font: {
                size: 0.9rem;
            }
        }
        .nav_mobile {
            margin: 3vw 3vw 0;
            text-align: right;
            animation: navOpen;
            animation-duration: 0.5s;
            animation-timing-function: ease;
            animation-direction: normal;
            animation-fill-mode: forwards;
            ul {
                list-style: none;
                text-align: center;
                padding: 0;
            }
        }
        li {
            margin-bottom: 15px;
            // text-shadow: -2px 0px rgba(255, 255, 255, 0.7),
            //     0px 2px rgba(255, 255, 255, 0.7),
            //     2px 0px rgba(255, 255, 255, 0.7),
            //     0px -2px rgba(255, 255, 255, 0.7);
        }
        .link {
            position: relative;
            display: inline;
            text-align: center;
            line-height: 20px;
            padding: 3px 5px;
            &::before,
            &::after {
                width: 0%;
                height: 0%;
                opacity: 0;
                transition: width 0.2s linear, height 0.15s 0.2s ease-out,
                    opacity 0s 0.35s;
            }
            &::before {
                bottom: 0;
                left: -1px;
                border-top: 1px solid rgb(28, 31, 30);
                border-left: 1px solid rgb(28, 31, 30);
            }
            &::after {
                top: 0;
                right: 0;
                border-bottom: 1px solid rgb(28, 31, 30);
                border-right: 1px solid rgb(28, 31, 30);
            }
            &:hover::before,
            &:hover::after {
                width: 100%;
                height: 99%;
                opacity: 1;
                transition: width 0.2s 0.15s ease-out, height 0.15s ease-in,
                    opacity 0s;
            }
        }
    }
    ::before,
    ::after {
        position: absolute;
        content: "";
    }
}

@keyframes navOpen {
    100% {
        padding-bottom: 50px;
    }
}
@keyframes navClose {
    0% {
        padding-bottom: 100px;
    }
}
